* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
align-content: center;
}

#form{
display: flex;
flex-wrap: wrap;
flex-direction: column;
align-content: center;
min-width: 400px;
max-width: 800px;
}

#Name  {
border: 1px solid red;
}
#mail {
border: 1px solid red;
}

fieldset {
background-color: lightgray;
padding: 1rem;
}

fieldset:hover {
background-color: grey;
}

fieldset:first-of-type{
border-bottom:5px solid black;
}
fieldset:last-of-type {
border-bottom:5px solid black
}
button {
background-color: black;
color: white;
border-style: none;
}