* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html {
font-size: 20px;
width: 100vw;
background-color: black;

}

header {
color: white;
background-color: black;
}

h1 {
text-align: center;
}
h2 {
text-align: center;
}

body {
background-color: white;
margin: 5rem;
}

img {
display: flex;
flex-wrap:wrap;
width: 100%;
height: 40vw;

}

header > p {
text-align: center;

}

ul {
list-style: none;
}

section p{
margin: 2rem;
}

section form input  {
display: grid;
flex-direction: row;
width: 100%;
margin-left: 0rem;
padding-left: 0;
background-color: grey;

}
section form label {
color: black;
}
section form textarea  {
    display: grid;
    flex-direction: row;
    width: 100%;
    margin-left: 0rem;
    padding-left: 0;
    background-color: grey;
    }
section > h3 {
margin: 2rem;
}
h3 {
color: rgb(136, 133, 133);
}

button {
background-color: black;
color: white;
font-size: 1rem;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
}

@media (min-width: 700px) {
html {
font-size: 20px;
margin:0;
padding: 0;
}
section{
margin: 5rem;
}
h1 {
text-align: left;
margin-left: 1rem;
}
h2 {
text-align:left;
margin-left: 1rem;
}
header p{
text-align: left;
margin-left: 1rem;

}
section {
padding: 0;
margin: 3rem;
}
img {
width: 10rem;
height: 10rem;
float: right;
}
}








