body :first-child li:last-of-type  {
background-color:blue
}

body :first-child li:nth-of-type(2n+1) {
text-decoration: underline green;

}

body :first-child li {
display: inline;
margin: 10px;
padding: 0%;
}

body :first-child li:nth-of-type(1)::after  {
content: "😊" ;
font-size: 1rem;
}

body :first-child li:nth-of-type(2)::after  {
    content: "🤣" ;
    font-size: 1rem;
    }

body :first-child li:nth-of-type(3)::after  {
        content: "🙃" ;
        font-size: 1rem;
    }
body :first-child li:nth-of-type(4)::after  {
        content: "😗" ;
        font-size: 1rem;
}

body :first-child li:nth-of-type(5)::after  {
    content: "😁" ;
    font-size: 1rem;
}

body :first-child li:nth-of-type(6)::after  {
    content: "😆" ;
    font-size: 1rem;
}

ul li:nth-of-type(4):not(#provincias li) {
font-size: 2rem;
text-transform: uppercase;
}

#provincias li{
list-style-type:upper-roman;

}
#provincias li:nth-of-type(2){
list-style: none;
}