* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: rgb(255, 166, 0);
}

header {
  font-size: 80px;
  text-align: center;
  color: white;
}

section {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  margin: 30px 30px;
  height: 20px;
  padding: 2rem;
  justify-content: center;
}
section > div {
  margin: 20px;
  height: 30vw;
  width: 25vw;
  display: grid;
  background-color: white;

  transition: transform 1s;
}

p {
  background-color: blueviolet;
  color: white;
}

img.ppl {
  width: 100%;
  border-radius: 50%;
  height: 200px;
}

section :hover {
  transform: scale(1.5);
}

@keyframes opacidad {
  0% {
    opacity: 0;
  }
  33% {
  }

  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
div :hover {
  transform: scale(1);
}

div {
  animation-name: opacidad;
  animation-duration: 6s;
}

 div img.rs {
height: 5rem;
width: 100%;
 } 